.changeReadingsButton {
    width: 330px;
    height: 83px;
    background-color: #c4bcf3;
    border: 2px solid transparent;
    border-radius: 17px;
    font-size: 24px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    color: white;
    border-color: #A393F5;
  }
  
  .changeReadingsButton:active {
    background-color: #A393F5;
  }
  